version: '3.8'

services:
  kf_roles:
    build:
      context: ./kf_roles
      dockerfile: dockerfile
    image: kf_roles_images
    deploy:
      mode: replicated
      replicas: 5
    volumes:
      - /Users/minhnguyen/Documents/works/KFM/kfm-devops/backend/kf_roles:/home/node/app
      - /Users/minhnguyen/Documents/works/KFM/kfm-devops/backend/internal:/home/node/app/internal
      - /home/node/app/node_modules
    restart: unless-stopped
    entrypoint: /home/node/app/start.sh
    # depends_on:
    #   - udp-server
    networks:
      - kfm_network

  kf_users:
    build:
      context: ./kf_users
      dockerfile: dockerfile
    image: kf_users_images
    deploy:
      mode: replicated
      replicas: 5
    env_file:
      - .env
    volumes:
      - /Users/minhnguyen/Documents/works/KFM/kfm-devops/backend/kf_users:/home/node/app
      - /Users/minhnguyen/Documents/works/KFM/kfm-devops/backend/internal:/home/node/app/internal
      - /home/node/app/node_modules
      # - kfm_logs:/home/node/app/var/log
    restart: unless-stopped
    entrypoint: /home/node/app/start.sh
    # depends_on:
    #   - udp-server
    networks:
      - kfm_network

  udp-server:
    build:
      context: ./server-udp
      dockerfile: dockerfile
    image: kf_udp_server
    ports:
      - "1234:1234/udp"
    command: node index
    networks:
      - kfm_network

  jaeger-rb-consume:
    image: 210314021403/service-worker-jaeger
    ports:
      - "3939:3939"
    command: node index
    networks:
      - kfm_network

  kfm_mariadb:
    image: mariadb
    ports:
      - 3306:3306
    env_file:
      - .env
    environment:
      MARIADB_USER: admin
      MARIADB_PASSWORD: pwd
      MARIADB_ROOT_PASSWORD: pwd
    restart: always
    volumes:
      - kfm_db:/var/lib/mysql
    networks:
      - kfm_network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    networks:
      - kfm_network

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - kfm_network

  nginx:
    build:
      context: ./nginx
      dockerfile: dockerfile
    image: kf_nginx
    env_file:
      - ./nginx/.env
    ports:
      - 80:80
    volumes:
      - /Users/minhnguyen/Documents/works/KFM/kfm-devops/backend/nginx/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - kfm_network

volumes:
  kfm_db:
    name: kfm_db
  rabbitmq_data:
    name: rabbitmq_data
  redis-data:
    name: redis-data

networks:
  kfm_network:
    external: true
