version: '3.7'

services:

  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.0
    ports:
      - "5601:5601"
    restart: unless-stopped
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch-elasticsearch-1:9200
    networks:
      - kfm_network

networks:
  kfm_network:
    external: true